@font-face {
    font-family: 'comic';
    src: url(/Comic_Neue\,Open_Sans\,Oswald/@font-face);
}
body {
    font-family: 'comic';
    margin: 0;
    padding: 0;
    
}
nav {
    width: 30%;
    flex-wrap: wrap;
    
}
.logo {
    width: 10%;
    
}
.nav-list {
    width: 90%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    font-size: 1.3em;
    border-radius: 5px;
    flex-wrap: wrap;

}
li {
    padding: 10px 12px;
    font-size: 19px;
}
li:hover {
    background-color: rgb(67, 0, 130);
    transition: .5;
    border-radius: 10px;
}

a {
    color: rgb(243, 9, 9);
    text-decoration: none;
}
header {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(0, 0, 0);
   
}

